# Embedded frontend dist (built files)
api/embedded/dist/
!api/embedded/dist/.gitkeep
/meet-mesh
/config.yaml
/data
*.db

# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
